<ul class="nav-pages">
  <li *ngFor="let page of pages">
    <div (click)="onPage(page);page.open=!page.open" class="page-nav-name"><img class="icon" [attr.src]="page?.open?'assets/icons/folder-open.svg':'assets/icons/folder.svg'">{{page.data.name}}</div>
    <ul *ngIf="page.open">
      <li *ngFor="let layer of page?.data?.layers" >
        <div class="page-nav-layer" (click)="highlight(layer)"><img class="icon" [attr.src]="getFileIcon(layer._class)">{{layer.name}} ({{layer._class}})</div>
        <ul>
          <li *ngFor="let innerLayer of layer.layers" >
            <div class="page-nav-layer-inner" (click)="highlight(innerLayer)"><img class="icon" [attr.src]="getFileIcon(innerLayer._class)">{{innerLayer.name}} ({{innerLayer._class}})</div>
            <ul>
              <li *ngFor="let innerLayer2 of innerLayer?.layers" >
                <div class="page-nav-layer-inner-inner" (click)="highlight(innerLayer2)">{{innerLayer2.name}} ({{innerLayer2._class}})</div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
