

:host {
  background: url('/assets/icons/list-bg.png');
}

.nav-pages {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background: #000;
}

ul {
  font-family: sans-serif, Helvetica;
  list-style: none;
  padding:0;
  margin: 0;
  color: #999;
}

.page-nav-name {
  color: #999;
  background: #000;
  border-bottom: 1px solid #419bf9;
}


.page-nav-layer {
  color: #999;
  background: #000;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 3px;
  padding-top: 3px;
}

.highlighted {
  background: #419bf9;
  color: #fff;
}

.page-nav-layer-inner {
  color: #999;
  background: #000;
  padding-left: 40px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 3px;
  padding-top: 3px;
}


.page-nav-layer-inner-inner {
  color: #999;
  background: #000;
  padding-left: 60px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 3px;
  padding-top: 3px;
}

.icon {
  width: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-pages >> .nav-item:nth-child(odd) {
  background: #00ff00;
}
