


button {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
}


.nav-pages {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 300px;
  font-family: sans-serif;
}

.header {
  display: flex;
  height: 60px;
  background: #0d4671;
  align-items: center;
}


.nav-pages ul {
  padding-left: 10px;
  list-style: none;
}
.page-nav-name {
  background: #666666;
  color: #fff;
}


.main-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}


sketch-navigation {
  width: 300px;
}

sketch-canvas {
  flex: 1;
}
