


button {
  background: #202123;
  color: #999999;
  border: 1px solid #419bf9;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
}



.divider {
  height: 100%;
  width: 5px;
  background: #00ff00;
}



.header {
  display: flex;
  height: 60px;
  background: #000;
  align-items: center;
}


.nav-pages ul {
  padding-left: 10px;
  list-style: none;
}
.page-nav-name {
  background: #666666;
  color: #fff;
}


.main-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


sketch-navigation {
  width: 300px;
}

sketch-canvas {
  flex: 1;
  overflow: scroll;
}
