

<!-- Define all masks in this group -->
<svg:defs *ngFor="let mask of data?.masks">
  <svg:mask [attr.id]="'mask'+mask.id" *ngFor="let maskLayer of mask.layers">
    <svg:rect sketch-rectangle [data]="maskLayer" *ngIf="maskLayer.$$isRect"></svg:rect>
    <svg:path [attr.d]="maskLayer.$$path" fill="white" *ngIf="!maskLayer.$$isRect"/>
  </svg:mask>
</svg:defs>


<!--<svg:g *ngFor="let pathLayer of data?.layers; let i = index">
  <!-- Shape Group -->
  <svg:defs *ngIf="data._class==='shapeGroup'">

    <linearGradient [attr.x1]="gradient.x1"
                    [attr.y1]="gradient.y1"
                    [attr.x2]="gradient.x2"
                    [attr.y2]="gradient.y2"
                    [attr.id]="gradient.id"
                    *ngFor="let gradient of data.linearGradients">
      <stop
        [attr.stop-color]="stop.color"
        stop-opacity="1"
        [attr.offset]="stop.offset"
        [attr.stop-opacity]="stop.opacity"
        *ngFor="let stop of gradient.stops">
      </stop>
    </linearGradient>



    <radialGradient [attr.x1]="gradient.x1"
                    [attr.y1]="gradient.y1"
                    [attr.x2]="gradient.x2"
                    [attr.y2]="gradient.y2"
                    [attr.id]="gradient.id"
                    *ngFor="let gradient of data.radialGradients">
      <stop
        [attr.stop-color]="stop.color"
        stop-opacity="1"
        [attr.offset]="stop.offset"
        [attr.stop-opacity]="stop.opacity"
        *ngFor="let stop of gradient.stops">
      </stop>
    </radialGradient>


    <svg:defs *ngFor="let pathLayer of data?.layers; let i = index">
      <svg:circle [attr.cx]="pathLayer.$$cx" [attr.cy]="pathLayer.$$cy" [attr.r]="pathLayer.$$radius"  *ngIf="pathLayer.$$drasAsCircle"></svg:circle>
      <svg:rect sketch-rectangle [id]="pathLayer.id" [data]="pathLayer" *ngIf="pathLayer.$$drawAsRect"></svg:rect>
      <svg:line [id]="pathLayer.id"
                [attr.x1]="pathLayer.$$x1"
                [attr.x2]="pathLayer.$$x2"
                [attr.y1]="pathLayer.$$y1"
                [attr.y2]="pathLayer.$$y2"
                *ngIf="pathLayer.$$drawAsLine"></svg:line>
      <svg:path [id]="pathLayer.id" [attr.d]="pathLayer.$$path" [attr.transform]="pathLayer.$$transform" *ngIf="pathLayer.$$drawAsPath"/>
    </svg:defs>


  </svg:defs>

  <svg:g *ngIf="data._class==='shapeGroup' && !data.$$hidden ">

    <svg:g *ngFor="let ref of data?.layers">
    <svg:use
      [attr.mask]="'url(#mask'+data.maskId+')'"
      [attr.stroke]="data.$$strokeColor"
      [attr.stroke-width]="data.$$strokeWidth"
      [attr.fill]="data.$$fill"
      fill-rule="evenodd"
      [attr.xlink:href]="'#'+ref.id"></svg:use>
    </svg:g>
  </svg:g>


<!--</svg:g>-->









<svg:text sketch-text [id]="data.id" [data]="data" *ngIf="data._class === 'text' && !data.$$hidden"></svg:text>

<svg:image sketch-image [attr.id]="data.id" [data]="data" *ngIf="data?._class==='bitmap' && !data.$$hidden"></svg:image>


<svg:g *ngIf="(data?._class==='group' || data?._class==='page' || data?._class==='artboard') && !data.$$hidden">
  <svg:g layer [attr.x]="l.frame.x+'px'"
         [attr.y]="l.frame.y+'px'"
         [attr.width]="l.frame.width+'px'"
         [attr.height]="l.frame.height+'px'"
         [data]="l" [parent]="data" [index]="index+'-'+i" *ngFor="let l of data.layers;let i = index"></svg:g>
</svg:g>



