


:host {
  position:relative;
  border: 1px solid #000;
  background: #fff;
}


.highlighter {
  position:absolute;
  top:0;
  width: 50px;
  height: 50px;
  border: 1px solid #419bf9;
  transition-property: left,top,width,height;
  transition-duration: 350ms;
}
